<p-panel >
    <ng-template pTemplate="header" style="text-align: left;">
       <span><img width="75" height="45" src="https://cdn.dribbble.com/users/106029/screenshots/1874120/gruppr-dribbble.png"/>  <Span style="font-size:20px;margin-left:10px;margin-bottom:10px;">E-Stocks</Span></span>
    </ng-template>
    <app-navbar></app-navbar>
    <p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
    <router-outlet></router-outlet>
    <ng-template pTemplate="footer"><div  style="text-align: center;">
       Copyrights reserved to the company - version-29.0.4
    </div>
    </ng-template>
</p-panel>

