<p-toast position="top-right"></p-toast>


<p-tabView>
<p-tabPanel header="Login"> 
    <div>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">Username :</span>
                <input type="text" pInputText [(ngModel)]="user.userName" required placeholder="UserName">         
            </div>
        </div>
            <div class="p-col-12 p-md-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">Password :</span>
                    <input type="password"  [feedback]=false [(ngModel)]="user.password"  placeholder="password" pPassword />
                    <!-- <p-password  [(ngModel)]="user.password" [toggleMask]="true" placeholder="password" ></p-password>         -->
                </div>
            </div>
    </div>

    <p-button  (onClick)="login()" label="Login"></p-button>
</p-tabPanel>
<p-tabPanel header="Register">
    <div>
        <div class="p-col-12 p-md-4">
            <div >
                <span>Username :</span>
                <input type="text" pInputText [(ngModel)]="user.userName" placeholder="UserName">         
            </div>
        </div>
            <div class="p-col-1 p-md-4">
                <div >
                    <span>Password : </span>
                  <p-password [(ngModel)]="user.password"   strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})" placeholder="password" >
                                           </p-password>         
                </div>
            </div>
    </div>
    <p-button  (onClick)="register()" label="Register"></p-button>
</p-tabPanel>
</p-tabView>
